# postgres
alias poston="pg_ctl start -D /home/linuxbrew/.linuxbrew/var/postgres"
alias postoff="pg_ctl stop -D /home/linuxbrew/.linuxbrew/var/postgres"
# pass
alias pim="pass insert -m"
# open
alias open='xdg-open'
# Youtube Dl music extraction
mp3 () {
	youtube-dl --no-check-certificate --ignore-errors -f bestaudio --extract-audio --audio-format mp3 --audio-quality 0 -o '~/Music/youtube/%(title)s.%(ext)s' "$1"
}
# Playlist
mp3p () {
	youtube-dl --no-check-certificate --ignore-errors -f bestaudio --extract-audio --audio-format mp3 --audio-quality 0 -o '~/Music/youtube/%(playlist)s/%(playlist_index)s - %(title)s.%(ext)s' "$1"
}
# copy paste OSX style
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'

# Set title in terminal
setTitle() {
  echo -e "\033]0;$@\007" 
}

# Problem with headset audio / mic
alias raudio="alsactl restore"
